http:
  routers:
    apigolang:
      rule: "Host(`${API_DOMAIN_PROD}`) && PathPrefix(`/go`)"
      entryPoints:
        - web
        - websecure
      service: apigolang
      middlewares:
        - api-strip-prefix
      tls: {}

  middlewares:
    api-strip-prefix:
      stripPrefix:
        prefixes:
          - "/go"

  services:
    apigolang:
      loadBalancer:
        servers:
          - url: "http://golang_api:${API_PORT}"
