### Other way to host lmd

FROM golang:1.25 AS builder
WORKDIR /app

# Copy only go.mod (skip go.sum)
COPY go.mod ./
RUN go mod download

# Copy source code
COPY . .
RUN go build -o main .

# Final image with LMD
FROM debian:stable-slim
WORKDIR /app

# Install LMD
RUN apt-get update && apt-get install -y \
    wget tar bash \
    && wget http://www.rfxn.com/downloads/maldetect-current.tar.gz \
    && tar -xzf maldetect-current.tar.gz \
    && cd maldetect-* && ./install.sh \
    && rm -rf /var/lib/apt/lists/* maldetect-current.tar.gz

# Copy Go binary
COPY --from=builder /app/main .

EXPOSE 8080
CMD ["./main"]
